<form class="form-group" [formGroup]="entityForm" (ngSubmit)="onSubmit(entityForm)">
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput formControlName="name" placeholder="Name is required" value="{{entity?.name}}" required />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Group</mat-label>
    <input matInput formControlName="group" placeholder="Group is required" value="{{entity?.group}}" required />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Type</mat-label>
    <input matInput formControlName="type" placeholder="Type is required" value="{{entity?.type}}" required />
  </mat-form-field>

  <button type="submit" mat-icon-button>
    <mat-icon fontIcon="{{formSubmitAction}}"></mat-icon>
  </button>

  @if (formCancelAction) {
  <button type="button" mat-icon-button (click)="cancel.emit()">
    <mat-icon fontIcon="{{formCancelAction}}"></mat-icon>
  </button>
  }

</form>